/*General Layout Main page content*/
* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
}

/* Mobile First*/
.introText {
    padding: 1.2em 1em;
    text-align: center;
    margin-left: 0;
}

.rightColumn .leftColumn {
    width: 100%;

}

.leftColumn .rightColumn {
    padding-left: 1em;
    padding-top: 1em;
}


.infoText-img {
    text-align: center;
}

.subInfoText-img {
    width: 70%;
    min-width: 225px;
    max-width: 300px;
    alignment: left;
}

.infoText-img img {
    width: 70%;
    min-width: 225px;
    max-width: 300px;

}

.card {
    width: 80%;
    background-color: var(--primary-color);
    padding: 1em;
    margin: 2em 1em 1em 2em;
    border-radius: 5px;
}

.card2 a {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.card2 {
    width: 80%;
    border-radius: 5px;
    text-align: left;
    padding: 1em;
    margin: 2em 1em 1em 2em;
}

.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 9px 20px;
    margin: 1em;
    color: black;
    background-color: var(--background-color);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-family: Montserrat-Bold, serif;

}

.card button:hover {
    background-color: var(--dark-primary-color);
    color: var(--text-icons);
}

#buttonSearch:hover {
    background-color: var(--dark-primary-color);
    color: var(--text-icons);
}

#buttonSearch {
    border: none;
    outline: 0;
    margin: 0;
    padding: 0.4em 1em;
    color: black;
    background-color: var(--background-color);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-family: Montserrat-Bold, serif;
}

.linkLogo img {
    padding-left: 2.5em;
    height: 60px;
    margin-right: 1.5em;
}

.socialMediaButton :hover {
    transform: scale(1.1)
}

.socialMediaButton :hover:after {
    content: "";
    display: table;
    clear: both;
}

.searchArea input {
    font-family: SourceSansPro-Regular, serif;
    text-align: center;
    color: var(--background-color);
    font-weight: 300;
    height: 28px;
    width: 15em;
    margin-right: 0.5em;
}

/* Tablet */
@media screen and (min-width: 768px) {

    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .introText {
        padding: 1.2em 2.3em;
    }

    .infoText-img img {
        width: 80%;
        min-width: 250px;
        max-width: 350px;
    }

    .searchArea {
        display: flex;

    }

    .searchArea input {
        font-weight: 600;
        height: 33px;
        padding-right: 3em;
        margin-right: 0.5em;
        width: 13em;
    }

    .card {
        margin-left: 2.5em;
    }

    .card button:first-child {
        margin-left: 0;
    }

    .card2 {
        width: 80%;
        margin: 1em 1em 1em 1em;
    }

    .card2 h2 {
        font-size: 18px;
    }

    .linkLogo img {
        padding-left: 1em;
        height: 50px;
        margin-right: 1em;
    }

    #buttonSearch {
        padding: 0.45em 1.5em;
    }
}


/* laptop/Desktop */
@media screen and (min-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .introText {
        padding: 2em;
    }

    .infoText-img img {
        width: 80%;
        min-width: 320px;
        max-width: 390px;
        height: auto;
        max-height: 500px;
    }

    .searchArea input {
        font-weight: 600;
        height: 33px;
        margin-right: 0.5em;
        width: 12em;
    }

    .card {
        margin-left: 2.5em;
    }

    .card2 {
        width: 80%;
        margin: 1em 1em 1em 1em;
    }

    .card2 h2 {
        font-size: 18px;
    }

    .linkLogo img {
        padding-left: 1em;
        height: 50px;
        margin-right: 1em;
    }

    .rightColumn {
        margin-left: 0;
        padding-left: 0;
    }

    #buttonSearch {
        padding: 0.6em 1.5em;
    }
}